/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* * = IS A WILDCARD
 This selector applies to all elements, making the width and height include padding and borders but not margins.
 so applies to all elemnts the boxsizing: border:box
*/
*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
     /* Sets the base font size to 16 pixels for the html element. */
}

html,
button{
    font-family: "Quicksand", "sands-serif";
       /* Applies the "Quicksand" font family to the html element and button elements.
       If "Quicksand" is not available, it falls back to a sans-serif font. */
}

body{
    margin: 0;
      /* Removes the default margin from the body element. */
}

a{
    text-decoration: none;
      /* Removes the default text decoration (such as underline) from anchor (a) elements. */
}
